<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="footer-col-8">
                <div class="row" style="width: 100%;">
                
                        <h3 style="width: auto"> ABOUTH US </h3>
                        <h3 style="width: auto;"> SUPPORT </h3>
                        <h3 style="width: auto;"> TERMS AND CONDITIONS </h3>
                        <h3 style="width: auto;"> CONTACT US </h3>
                        <h3 style="width: auto;"> FAQ </h3>
                        <h3 style="width: auto;"> PRIVAY POLICY </h3>
                        <h3 style="width: auto;"> AML POLICY </h3>
                       
                </div>
                <div class="row">
                
                        <button class="btn-default">JetonCARD</button>
                        <button class="btn-default">JetonPAY</button>
                   
                </div>
            </div>
            <div class="footer-col-2">
                <div class="btn-group">
                    <button class="btn-primary"> SIGN IN</button>
                </div>    
            </div>
        </div>
        <div class="row">
            <label class="text-muted"> @2019 Urus London LTD | 131 Finsbury Pavement, London EC2A 1NT United Kingdom</label>
        </div>
</div>


    

</footer>

