<div class="container3">
    <div class="box">
        <div class="w-40">
            <div class="component3-title">
                <h1 style="color:black">  All Your Payment Methods in
                <label class="label-lightblue"> One Account </label> </h1> 
            </div>
            <p>
                Make payments and withdraw funds with a simple, 
                quickl and secure way wich includes instant banking
            </p>
        </div>
    </div>

    <div  class="box">
        <div style="object-fit: cover;">
            <img  class="dahsboard" style="object-fit: cover;" src="../../assets/dashboard-preview-1.png">
        </div>
    </div>

</div>
