<div class="container2">
    <div class="box" >
       <div class="component2-title">
        <h3  style="color:black">  Just like real cash, but better.</h3> 
    </div>

      <div>
        <div class="box-line-left">
            <a> <img src="../../assets/icon-fast.svg"> </a>
        </div>
        <div class="box-line-right">
           <div class="lightblue">Jeton is fast</div>
           <div class="text-muted">Instant deposit and balance updates</div>
        </div>
      </div>
      
      <div>
        <div class="box-line-left">
            <a> <img src="../../assets/icon-easy.svg"> </a>
        </div>
        <div class="box-line-right">
           <div class="lightblue">Jeton is easy</div>
           <div class="text-muted">Instant deposit and balance updates</div>
        </div>
      </div>

      <div>
        <div class="box-line-left">
            <a> <img src="../../assets/icon-use.svg"> </a>
        </div>
        <div class="box-line-right">
           <div class="lightblue">Jeton is free</div>
           <div class="text-muted">Instant deposit and balance updates</div>
        </div>
      </div>
    </div>

    <div  class="box">
        <div class="box-center">
            <div class="box-inline">
                <h1 style="color:black">BUSINESS ACCOUNT</h1>
                <div>
                    <a> <img src="../../assets/icon-bank.svg"> </a>
                </div>
                <p>
                    Jeton allows you to request payments
                    for good and services that you have provided. The Simple pricing makes this account effient to youe business,
                    and easy to access for your customers.
                </p>
                <span><button class="btn-primary">USE FOR BUSINESS</button> </span>
            </div>
        </div>
    </div>
</div>
