


<!-- NAV BAR START -->

<header>
  <app-nav></app-nav>
</header>



<!-- NAV BAR END -->


<div class="content" >

  <div class="childcomponent" >
    <app-component1  class="margin-top-2"> </app-component1>
  </div>

  <div class="childcomponent" >
    <app-component2  class="margin-top-2"> </app-component2>
  </div>

  <div class="childcomponent" >
    <app-component3  class="margin-top-2"> </app-component3>
  </div>
   
  <div class="childcomponent" >
    <app-component4  class="margin-top-2"> </app-component4>
  </div>


   <div class="footer" >
    <app-footer class="margin-top-2"> </app-footer>
  </div>

  <div class="livechatbtn">
    <label>Live Chat </label>
  </div>


</div>





<router-outlet></router-outlet>