
.container4 {
    width: 100%;
    min-height: 240px;
    position: relative;
}

.box{
    width:50%;
    height: auto;
    height: 240x;
    float: left;
    display: block;
}

.lbl-center{
    text-align: center;
}

.text-left{
    text-align: start;
}

.text-right{
    text-align: end;
}


.mt-12{
    margin-top: 12px;
}


.box[_ngcontent-etp-c22] {
    width: 100%;
    height: auto;
    height: 240x;
    /* float: left; */
    display: block;
}

@media (max-width:768px){

    .box[_ngcontent-yun-c22] {
        width: 100%;
        height: auto;
        height: 240x;
        float: left;
        display: block;
    }

    .box {
        width: 100%;
        height: auto;
        height: 240x;
        float: left;
        display: block;
    }

    .text-left{
        text-align: start;
    }
    
    .text-right{
        text-align: start;
    }
    


  }