<div class="container4">

    <div class="box text-end">
         <div>
                <div class="lbl-center"  >
                    Download for iOS
                </div>
                <div class="lbl-center mt-12"  >
                    <a> <img src="../../assets/itunes-button.png"></a>
                </div>
        </div>
    </div>

    <div  class="box text-left" >
        <div>
                <div class="lbl-center"  >
                    Download for Android
                </div>
                <div class="lbl-center mt-12"   >
                    <a> <img src="../../assets/googleplay-button.png"></a>
                </div>
        </div>
    </div>

</div>
