<div class="component1">
    <div id="left">

        <div class="component1-title">
            <h2> Send money quickly, easily and fast</h2>
        </div>

        <div class="h-25 w-50">
            <button class=" btn-primary" style=" width: 50%"> SIGN UP</button>
            <div class="lbl-group">
                <a> <img src="../../assets/appstore.svg" style="width: 24%;"></a>

                <a class="ml-8"> <img src="../../assets/googleplay.svg"
                        style="width: 24%;border-left: solid 1px black;"></a>
            </div>
        </div>
    </div>

    <div id="right">
        <div class="relative">
            <div>
                <div class="box-container">
                    <div class="box1">
                        <div class="box2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>